h1 {
    color:magenta;
}
h2 {
    color:mediumspringgreen;
}

h1 {
    font-family: "Calibri";
}

h2 {
    font-family: "Papyrus";
}

p {
    font-family: "Ravie";
}

h3 {
    font-family: "Segoe Script";
}

h4 {
    font-family: "Algerian";
}